<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-intent"
        version="1.0.0">

    <name>AndroidIntentPlugin</name>
    <description>Cordova Plugin for Android to access intent</description>
    <license>MIT</license>

    <repo>https://github.com/zyf0330/cordova-plugin-intent.git</repo>

    <keywords>cordova,intent,share,send,android</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">       
        <hook type="before_plugin_install" src="scripts/hook.js"></hook>
        <hook type="before_build" src="scripts/hook.js"></hook>
        <hook type="before_plugin_uninstall" src="scripts/hook.js"></hook>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IntentPlugin">
                <param name="android-package" value="com.zyf0330.intent.IntentPlugin"/>
            </feature>
        </config-file>

        <js-module src="www/android/IntentPlugin.js" name="IntentPlugin">
            <clobbers target="window.plugins.intent" />
        </js-module>

        <source-file src="src/android/IntentPlugin.java" target-dir="src/com/zyf0330/intent" />
    
    </platform>

</plugin>
